# Игнорировать файлы и папки, созданные npm
node_modules/

# Игнорировать временные файлы
*.log
*.swp
*.swo
.DS_Store

# Игнорировать файлы, содержащие конфиденциальные данные
.env

# Игнорировать файлы, созданные IDE и редакторами кода
.vscode/
.idea/

# Игнорировать файлы сборки и временные файлы
/dist/
/build/
/tmp/
